@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    box-sizing:border-box;
}

html, body {
    height: 100%;
    font-family: 'Nanum Gothic', sans-serif, Arial;
}

body {
    overflow: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h2, p {
    margin: 0;
    padding: 0;
}

input[type="text"] {
    background: none;
    border: none;
    box-sizing: border-box;
    border-radius:0;
    outline:0;
    margin:0;
    padding:0;
    text-align: left;
    vertical-align: middle;
}

/* gate */
#background-gate {
    height: 100%;
    background: #000000;
}

#background-gate .wrap-gate {
    display: table;
    width: 100%;
    height: 100%;
}

#background-gate .wrap-gate > .gate {
    display: table-cell;
    vertical-align: middle;
}

#background-gate .wrap-gate > .gate > .anim-elems {
    width: 450px;
    margin: 0 auto;
    position: relative;
    /*visibility: hidden;*/
}

#background-gate .wrap-gate > .gate > .anim-elems .title {
    visibility: hidden;
}

#background-gate .wrap-gate > .gate > .anim-elems > .rotate {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

#background-gate .wrap-gate .loading-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    height: 2px;
    width: 100%;
    visibility: hidden;
}

#background-gate .wrap-gate .loading-bar > .fill {
    background-color: #ffffff;
    width: 0%;
    height: 2px;
}
/* gate */

#miniver {
    width: 100%;
    height: 100%;
}

/* header */
#header {
    position: fixed;
    width: 60px;
    height: 100%;
    background: #2c2d2d;
    z-index: 1001;
    display: none; /*페이지 이동 코딩 */
}

#header .header-logo {
    position: absolute;
    top: 7.5%;
    left: 15px;
    width: 30px;
    /*margin: 7.5% auto 0;*/
}

#header .contact-us {
    position: absolute;
    /*top: 46.5%;*/
    top: 50%;
    left: 23px;
}

#header .contact-us img {
    position: relative;
}

#header .contact-us:after {
    display: inline-block;
    content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #77fde5;
    position: absolute;
    /*font-size: 20px;*/
    font-size: 20px;
    /*top: -25px;*/
    top: -25px;
    /*left: 1px;*/
    left: 4px;
    /*width: 30px;*/
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.contactOpen #header .contact-us:after {
    content: "\f104";
}

/*#header .contact-us i.first {
    left: 8px;
}

#header .contact-us i.second {
    animation-delay: 0.3s;
}*/

/*#header .contact-us a:hover .first {
    animation-name: arrowMotion;
}*/

#header .contact-us:hover:after {
    -webkit-animation-name: arrowMotion;
            animation-name: arrowMotion;
}

.contactOpen #header .contact-us:hover:after {
    -webkit-animation-name: arrowMotion2;
            animation-name: arrowMotion2;
}

@-webkit-keyframes arrowMotion {
    from {
        opacity: 0;
        /*transform: translateX(-3px);*/
        -webkit-transform: translateX(-6px);
                transform: translateX(-6px);
    }
    20% {
        opacity: 0.2;
        -webkit-transform: translateX(-4px);
                transform: translateX(-4px);
    }
    40% {
        opacity: 0.4;
        -webkit-transform: translateX(-2px);
                transform: translateX(-2px);
    }
    50% {
        opacity: 0.6;
    }
    60% {
        opacity: 0.4;
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
    80% {
        opacity: 0.2;
        -webkit-transform: translateX(2px);
                transform: translateX(2px);
    }
    to {
        opacity: 0;
        -webkit-transform: translateX(4px);
                transform: translateX(4px);
    }
}

@keyframes arrowMotion {
    from {
        opacity: 0;
        /*transform: translateX(-3px);*/
        -webkit-transform: translateX(-6px);
                transform: translateX(-6px);
    }
    20% {
        opacity: 0.2;
        -webkit-transform: translateX(-4px);
                transform: translateX(-4px);
    }
    40% {
        opacity: 0.4;
        -webkit-transform: translateX(-2px);
                transform: translateX(-2px);
    }
    50% {
        opacity: 0.6;
    }
    60% {
        opacity: 0.4;
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
    80% {
        opacity: 0.2;
        -webkit-transform: translateX(2px);
                transform: translateX(2px);
    }
    to {
        opacity: 0;
        -webkit-transform: translateX(4px);
                transform: translateX(4px);
    }
}

@-webkit-keyframes arrowMotion2 {
    from {
        opacity: 0;
        /*transform: translateX(-3px);*/
        -webkit-transform: translateX(4px);
                transform: translateX(4px);
    }
    20% {
        opacity: 0.2;
        -webkit-transform: translateX(2px);
                transform: translateX(2px);
    }
    40% {
        opacity: 0.4;
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
    50% {
        opacity: 0.6;
    }
    60% {
        opacity: 0.4;
        -webkit-transform: translateX(-2px);
                transform: translateX(-2px);
    }
    80% {
        opacity: 0.2;
        -webkit-transform: translateX(-4px);
                transform: translateX(-4px);
    }
    to {
        opacity: 0;
        -webkit-transform: translateX(-6px);
                transform: translateX(-6px);
    }
}

@keyframes arrowMotion2 {
    from {
        opacity: 0;
        /*transform: translateX(-3px);*/
        -webkit-transform: translateX(4px);
                transform: translateX(4px);
    }
    20% {
        opacity: 0.2;
        -webkit-transform: translateX(2px);
                transform: translateX(2px);
    }
    40% {
        opacity: 0.4;
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
    50% {
        opacity: 0.6;
    }
    60% {
        opacity: 0.4;
        -webkit-transform: translateX(-2px);
                transform: translateX(-2px);
    }
    80% {
        opacity: 0.2;
        -webkit-transform: translateX(-4px);
                transform: translateX(-4px);
    }
    to {
        opacity: 0;
        -webkit-transform: translateX(-6px);
                transform: translateX(-6px);
    }
}

#header .sns-elems {
    /*width: 30px;*/
    /*height: 65px;*/
    position: absolute;
    left: 0;
    right: 0;
    bottom: 8%;
    /*left: 25px;*/
}
#header .sns-elems a {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-size: cover !important;
    -ms-behavior: url(./backgroundsize.min.htc);
    -webkit-transition:background 0.1s linear;
    transition: background 0.1s linear;
}

#header .sns-elems a.facebook {
    background: url(../images/facebook_icon.png) center no-repeat;
    margin-bottom: 5px;
}

#header .sns-elems a.facebook:hover {
    background: url(../images/facebook_icon_active.png) center no-repeat;
}

#header .sns-elems a.blog {
    background: url(../images/blog_icon.png) center no-repeat;
}

#header .sns-elems a.blog:hover {
    background: url(../images/blog_icon_active.png) center no-repeat;
}

/*#header .sns-elems svg {
    width: 25px;
    height: 30px;
    margin: 0 auto;
}
*/

/*#header .sns-elems svg:hover path {
    transition: fill .8s ease;
    fill:#77fde5;
}

#header .sns-elems .blog-svg {
    width: 27px;
}*/

.layer-contact {
    position: absolute;
    left: 60px;
    top: 0;
    width: 0%;
    height: 100%;
    background: #000000;
    background: rgba(0,0,0,.9);
    -webkit-transition:width 1s ease-in-out, z-index 1s step-end;
    transition: width 1s ease-in-out, z-index 1s step-end;
    z-index: -1;
}

.layer-contact .inner {
    width: 973px;
    margin: 0 auto;
    padding-top: 290px;
    opacity: 0;
    -webkit-transition:opacity 0.3s linear;
    transition: opacity 0.3s linear;
}

.layer-contact .inner .block-desc {
    width: 400px;
}

.layer-contact .inner .block-desc .top {
    position: relative;
}

.layer-contact .inner .block-desc .top:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ffffff;
    width: 100%;
    height: 1px;
}

.layer-contact .inner .block-desc .sub {
    font-size: 14px;
    color: #ffffff;
    text-align: left;
    padding: 14px 0 20px;
}

.layer-contact .inner .block-desc .sub p {
    line-height: 18px;
}

.contactOpen .layer-contact {
    width: 100%;
    z-index: 1001;
    -webkit-transition:width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.contactOpen .layer-contact .inner {
    opacity: 1;
    -webkit-transition:opacity 1s linear 1s;
    transition: opacity 1s linear 1s;
}

.layer-contact .inner > div {
    float: left;
}

.layer-contact .inner .block-desc .bottom {
    padding-top: 20px;
}

.layer-contact .inner .block-desc .bottom .address p {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
}

.layer-contact .inner .block-desc .bottom .address .changeIcon {
    padding-top: 5px;
}

.layer-contact .inner .block-desc .bottom .address .changeIcon span {
    color: #77fde5;
    font-size: 13px;
}

.layer-contact .inner .block-desc .bottom .address .changeIcon span:before {
    content: "\f041";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    display: inline-block;
    padding-right: 3px;
    font-size: 13px;
}

.layer-contact .inner .block-desc .bottom .address .changeIcon span:after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    display: inline-block;
    padding-left: 5px;
    font-size: 11px;
    color: #ffffff;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.layer-contact .inner .block-desc .bottom .address .changeIcon span.map:after {
    content: "\f101";
}

.layer-contact .inner .block-desc .bottom .address .changeIcon span.back:after {
    content: "\f100";
}

.layer-contact .inner .block-desc .bottom .address .changeIcon a:hover span.map:after {
    -webkit-animation-name: arrowMotionRight;
            animation-name: arrowMotionRight;

}

.layer-contact .inner .block-desc .bottom .address .changeIcon a:hover span.back:after {
    -webkit-animation-name: arrowMotionLeft;
            animation-name: arrowMotionLeft;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

@-webkit-keyframes arrowMotionRight {
    from {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
    to {
        -webkit-transform: translateX(2px);
                transform: translateX(2px);
    }
}

@keyframes arrowMotionRight {
    from {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
    to {
        -webkit-transform: translateX(2px);
                transform: translateX(2px);
    }
}

@-webkit-keyframes arrowMotionLeft {
    from {
        -webkit-transform: translateX(2px);
                transform: translateX(2px);
    }
    to {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

@keyframes arrowMotionLeft {
    from {
        -webkit-transform: translateX(2px);
                transform: translateX(2px);
    }
    to {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

.layer-contact .inner .block-send {
    width: 435px;
    padding-right: 79px;
    margin-left: 132px;
}

.layer-contact .inner .block-send .row {
    width: 100%;
    padding-bottom: 22px;
}

.layer-contact .inner .block-send .row.last {
    padding-bottom: 42px;
}

.layer-contact .inner .block-send .row input {
    border-bottom: 1px solid #ffffff;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    padding: 5px;
    font-family: 'Nanum Gothic', sans-serif;
    width: 100%;
}

.layer-contact .inner .block-send .text-box {
    width: 100%;
    border: 1px solid #ffffff;
}

.layer-contact .inner .block-send .text-box textarea {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    resize: none;
    overflow: auto;
    border: none;
    margin: 0;
    padding: 5px;
    color: #ffffff;
    font-size: 14px;
}

.layer-contact .inner .block-send .sendIcon {
    padding-top: 5px;
    float: right;
}

.layer-contact .inner .block-send .sendIcon span {
    color: #77fde5;
    font-size: 13px;
}

.layer-contact .inner .block-send .sendIcon span:after {
    content: "\f101";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    display: inline-block;
    padding-left: 5px;
    font-size: 11px;
    color: #ffffff;
}

.layer-contact .inner .block-send .sendIcon:hover span:after {
    -webkit-animation-name: arrowMotionRight;
            animation-name: arrowMotionRight;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.layer-contact .inner .block-map {
    display: none;
    width: 435px;
    margin-left: 68px;
}

.layer-contact .inner .block-map .map {
    padding-bottom: 10px;
}

.layer-contact .inner .block-map .desc {
    color: #ffffff;
    font-size: 13px;
}

.layer-contact .inner .block-map .desc p:first-child {
    padding-bottom: 3px;
}

/* header */

#nav {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 30px;
    /*right: 18.5%;*/
    top: 30px;
    cursor: pointer;
    z-index: 1000;
    display: none;  /*페이지 이동 코딩 */
}

#nav .hamburger {
    padding: 6.5px;
}

#nav .wrap-btn .nav-line {
    background: #0c0c0c;
    -webkit-transition:width .25s ease-in-out, height .25s ease-in-out;
    transition: width .25s ease-in-out, height .25s ease-in-out;
    /*transition: all .25s ease-in-out;*/
}

.work_list #nav .wrap-btn .nav-line,
.work_detail #nav .wrap-btn .nav-line {
    background: #ffffff !important;
}

#nav .hamburger .nav-line {
    width: 17px;
    height: 2px;
    margin-bottom: 5.5px;
}

#nav .hamburger .nav-line:nth-child(1) {
    -webkit-transition-delay:.5s;
            transition-delay:.5s;
}

#nav .hamburger .nav-line:nth-child(2) {
    -webkit-transition-delay:.625s;
            transition-delay:.625s;
}

#nav .hamburger .nav-line:nth-child(3) {
    -webkit-transition-delay:.75s;
            transition-delay:.75s;
    margin-bottom: 0;
}

.menuOpen #nav .hamburger .nav-line {
    width: 0%;
}


.menuOpen #nav .hamburger .nav-line:nth-child(1) {-webkit-transition-delay:0s;transition-delay:0s;}
.menuOpen #nav .hamburger .nav-line:nth-child(2) {-webkit-transition-delay:.125s;transition-delay:.125s;}
.menuOpen #nav .hamburger .nav-line:nth-child(3) {-webkit-transition-delay:.25s;transition-delay:.25s;}

#nav .cross {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
    left: 0;
}

#nav .cross .nav-line:nth-child(1){
    position: absolute;
    width: 2px;
    height: 0%;
    top: 3px;
    left: 14px;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
}

#nav .cross .nav-line:nth-child(2){
    position: absolute;
    width: 0%;
    height: 2px;
    left: 3px;
    top: 14px;
    -webkit-transition-delay: .25s;
            transition-delay: .25s;
}

.menuOpen #nav .cross .nav-line:nth-child(1) {
    height: 24px;
    -webkit-transition-delay: .625s;
            transition-delay: .625s;
}

.menuOpen #nav .cross .nav-line:nth-child(2) {
    width: 24px;
    -webkit-transition-delay: .375s;
            transition-delay: .375s;
}

.menuOpen #nav .wrap-menu {
    visibility: visible;
}

#nav .wrap-menu {
    visibility: hidden;
    position: absolute;
    top: 9px;
    left: -280px;
    /*left: -30%;*/
    /*opacity: 0;*/
    /*left: 2000px;*/
}

#nav .wrap-menu ul {
    width: 280px;
}

#nav .wrap-menu ul li {
    float: left;
    margin-right: 54px;
    /*margin-right: 5%;*/
    position: relative;
}

#nav .wrap-menu ul li a span {
    display: block;
    height: 14px;
}

#nav .wrap-menu ul li a .about {
    width: 50px;
    background: url(../images/navi_01.png) no-repeat;
}

.work_list #nav .wrap-menu ul li a .about,
.work_detail #nav .wrap-menu ul li a .about {background: url(../images/navi_01_white.png) no-repeat;}

#nav .wrap-menu ul li a .work {
    width: 46px;
    background: url(../images/navi_02.png) no-repeat;
}

.work_list #nav .wrap-menu ul li a .work,
.work_detail #nav .wrap-menu ul li a .work {background: url(../images/navi_02_white.png) no-repeat;}



#nav .wrap-menu ul li a .news {
    width: 43px;
    background: url(../images/navi_03.png) no-repeat;
}

.work_list #nav .wrap-menu ul li a .news,
.work_detail #nav .wrap-menu ul li a .news {background: url(../images/navi_03_white.png) no-repeat;}


#nav .wrap-menu ul li:after {
    content: "";
    width: 0%;
    height: 1px;
    background: #77fde5;
    position: absolute;
    top: 40%;
    left: -13%;
    -webkit-transition:width .15s ease-in-out;
    transition: width .15s ease-in-out;
}

#nav .wrap-menu ul li:hover:after,
#nav .wrap-menu ul li.active:after {
    width: 120%;
}


#nav .wrap-menu ul li:last-child {
    margin-right: 30px;
}

.content-outer {
    position: fixed;
    padding-left: 60px;
    width: 100%;
    height: 100%;
    opacity: 0;
    /*visibility: hidden;*/
}


.content-outer > .content-inner.main {
    width: 100%;
    height: 100%;
    display: table;
}

.content-outer > .content-inner > .slider-background-wrapper {
    background: #ffffff;
    display: table-cell;
    vertical-align: middle;
}

.content-outer > .content-inner > .slider-background-wrapper .slider-background {
    background: url(../images/slider_background.png) center center no-repeat;
    width: 645px;
    height: 592px;
    margin: 0 auto;
}

.slider-background-wrapper .slider-background .slider-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-background-wrapper .slider-background .slider-wrapper .slide {
    /*position: absolute;
    width: 100%;
    height: 100%;*/
    width: 645px;
    height: 592px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /*visibility: hidden;*/
}

.slider-background-wrapper .slider-background .slider-wrapper .slide._01 .wrap-inner {
    margin-top: 195px;
}

.slider-background-wrapper .slider-background .slider-wrapper .slide._02 .wrap-inner {
    margin-top: 281px;
}

.slider-background-wrapper .slider-background .slider-wrapper .slide._03 .wrap-inner {
    margin-top: 246px;
}

.slider-background-wrapper .slider-background .slider-wrapper .slide._02 {
    display: none;
}

.slider-background-wrapper .slider-background .slider-wrapper .slide._03 {
    display: none;
}

.slider-background-wrapper .slider-background .slider-wrapper .slide .wrap-inner .title {
    text-align: center;
}

.slider-background-wrapper .slider-background .slider-wrapper .slide .wrap-inner .sub {
    padding-top: 30px;
    margin: 0 auto;
    /*width: 430px;*/
    font-size: 15px;
    color: #555555;
    text-align: center;
    line-height: 20px;
}

/* worklist */

.content-outer > .content-inner.worklist {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #252525;
}

.content-outer > .content-inner.worklist .wrap-work {
    width: 100%;
    height: 100%;
}

.worklist .wrap-work .work-box {
    width: 25%;
    height: 50%;
    border-right: 1px solid #414141;
    border-bottom: 1px solid #414141;
    float: left;
    position: relative;
}

.worklist .wrap-work .work-box:nth-child(4n+4) {
    border-right: 0;
}


@media all and (max-width: 1100px) {
    .worklist .wrap-work .work-box {
        width: 33.3%;
    }
    .worklist .wrap-work .work-box:nth-child(4n+4) {
        border-right: 1px solid #414141;
    }
    .worklist .wrap-work .work-box:nth-child(3n+3) {
        border-right: 0;
    }

}

.worklist .category-box .inner {
    /*border: 1px solid #77fde5;*/
    padding: 13px;
    width: 100%;
    height: 100%;
}

.worklist .category-box .line {
    position: absolute;
    width: 0px;
    height: 1px;
    background: #77fde5;
    -webkit-transition:width 1s linear;
    transition: width 1s linear;
    -webkit-transition-delay: 1s; /* Safari */
    transition-delay: 1s;
}

.work_list .category-box .line {
    width: 20px;
    /*animation-name: cateLine;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;*/
}

@-webkit-keyframes cateLine {
    from {
        width: 0px;
    }
    to {
        width: 15px;
    }
}

@keyframes cateLine {
    from {
        width: 0px;
    }
    to {
        width: 15px;
    }
}

.worklist .category-box .line.tl {
    top: 0;
    left: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
}

.worklist .category-box .line.tr {
    top: 0;
    right: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: top right;
            transform-origin: top right;
}

.worklist .category-box .line.br {
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
}

.worklist .category-box .line.bl {
    bottom: 0;
    left: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
}


.worklist .category-box .inner .cate-block {
    width: 100%;
    height: 100%;
    border: 1px solid #77fde5;
    position: relative;
    display: table;
}

.worklist .category-box .txt-layout {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: Arial;
    /*opacity: 0;*/
}

.worklist .category-box .txt-layout .title {
    border-bottom: 1px solid #ffffff;
    width: 61%;
    margin: 0 auto;
}

.worklist .category-box .txt-layout .title h2 {
    padding-bottom: 20px;
    color: #ffffff;
}

.worklist .category-box .txt-layout .cate a:hover {
    color: #77fde5;
}

.worklist .category-box .txt-layout .cate.active {
    color: #77fde5;
}

.worklist .category-box .txt-layout .cate:nth-child(2) {
    padding-top: 30px;
}

.worklist .category-box .txt-layout .cate {
    padding-bottom: 9px;
    color: #ffffff;
    font-size: 16px;
}

.worklist .category-box .txt-layout .cate:last-child {
    padding-bottom: 0;
}

.worklist .work-box > a > .inner {
    width: 100%;
    height: 100%;
    -webkit-transition:background .15s linear;
    transition: background .15s linear;
}

.worklist .work-box .title-cate {
    position: absolute;
    right: 7.5%;
    top: 0px;
    width: 8%;
    height: 55px;
}

.worklist .work-box .title-cate .wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.worklist .work-box .title-cate .push-line {
    width: 1px;
    height: 55px;
    background: #959595;
    position: absolute;
    right: 0;
    top: 0;
}

.worklist .work-box .title-cate span {
    display: block;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    color: #959595;
    font-size: 10.5px;
    text-transform: uppercase;
    position: absolute;
    left: 95%;
    top: 60px;
    /*width: 100px;*/
    /*padding-left: 85px;*/
    font-weight: bold;
    word-break: keep-all;
    white-space: nowrap;
}

.worklist .work-box .wrap-els {
    width: 65%;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.worklist .work-box .wrap-els .circle-zone {
    padding-top: 58px;
    /*padding-top: 15%;*/
}

.worklist .work-box .wrap-els .circle-zone .circle-img {
    position: relative;
    z-index: 2;
    text-align: center;
    -webkit-transition:all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.worklist .work-box .wrap-els img {
    /*display: block;*/
    max-width: 100%;
}

@media all and (max-height: 760px) {
    .worklist .work-box .wrap-els .circle-zone .circle-img {
        width: 80%;
        margin: 0 auto;
    }
}


.worklist .work-box .wrap-els .circle-img:before,
.worklist .work-box .wrap-els .circle-img:after {
    content: "";
    background: #77fde5;
    z-index: -1;
    width: 0%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition:width .7s ease-in-out;
    transition: width .7s ease-in-out;
}

.worklist .work-box .wrap-els .circle-img:before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
}

.worklist .work-box .wrap-els .circle-img:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.worklist .work-box a:hover .circle-img::before,
.worklist .work-box a:hover .circle-img:after {
    width: 60%;
}

.worklist .work-box .wrap-els .desc-zone {
    position: absolute;
    bottom: 0;
    left: 23px;
    height: 135px;
}

.worklist .work-box .wrap-els .desc-zone .project {
    padding-bottom: 12px;
}

.worklist .work-box .wrap-els .desc-zone .guide {
    padding-bottom: 7px;
}


.worklist .work-box .wrap-els .desc-zone .guide span {
    color: #959595;
    font-size: 10px;
    text-transform: uppercase;
}

.worklist .work-box .wrap-els .desc-zone .name span {
    color: #ffffff;
    font-size: 15px;
    font-family: 'Nanum Gothic';
    text-transform: uppercase;
}

.worklist .work-box a:hover .inner {
    background: #101e46;
}

.worklist .work-box > a > .inner > .push-line {
    position: absolute;
    bottom: 0;
    left: 17.5%;
    width: 1px;
    /*height: 109px;*/
    height: 129px;
    /*height: 0px;*/
    background: #959595;
    -webkit-transition:all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.worklist .work-box a:hover .inner > .push-line {
    background: #77fde5;
    height: 112px;
}

.worklist .work-box > a > .inner > .push-line:after {
    position: absolute;
    top: -18px;
    left: -5px;
    content: attr(data-no);
    color: #959595;
    font-size: 9.5px;
    opacity: 0;
    -webkit-transition:opacity .3s linear .4s;
    transition: opacity .3s linear .4s;
}

.worklist .work-box a:hover .inner > .push-line:after {
    opacity: 1;
}

.worklist .work-box a:hover .wrap-els .circle-img {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
}

/* worklist */

/* workdetail */

.content-outer > .content-inner.workdetail {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.content-outer > .content-inner.workdetail .device-block {
    background: #252525;
    height: 560px;
}

.content-outer > .content-inner.workdetail .device-block .layout {
    height: 82px;
    position: relative;
    margin-bottom: 21px;
}

.content-outer > .content-inner.workdetail .device-block .layout:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 0%;
    background: #ffffff;
    -webkit-transition:height 1s linear 2s;
    transition: height 1s linear 2s;
}

.work_detail .content-outer > .content-inner.workdetail .device-block .layout:after {
    height: 100%;
}

.content-inner.workdetail .device-block .brand,
.content-inner.workdetail .device-block .title {
    color: #ffffff;
    text-align: center;
    opacity: 0;
    -webkit-transition:opacity 1s linear 3s;
    transition: opacity 1s linear 3s;
}

.work_detail .content-inner.workdetail .device-block .brand,
.work_detail .content-inner.workdetail .device-block .title {
    opacity: 1;
}

.workdetail .device-block .brand {
    font-size: 16px;
    padding-bottom: 8px;
}

.workdetail .device-block .title {
    font-size: 23px;
}

.workdetail .device-block .mock-up {
    padding-top: 38px;
}

.workdetail.video .device-block .video-frame {
    width: 800px;
    margin: 0 auto;
}

.workdetail .device-block .mock-up .img {
    text-align: center;
}

.workdetail .desc-block {
    width: 960px;
    margin: 0 auto;
    padding-top: 142px;
    padding-bottom: 164px;
}

.workdetail .desc-block > div {
    float: left;
}

.workdetail .desc-block .papers {
    position: relative;
    width: 460px;
    height: 350px;
}

.workdetail .desc-block .papers .paper {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.workdetail .desc-block .papers .paper._01 {
    z-index: 3;
    /*top: 0;*/
}
.workdetail .desc-block .papers .paper._02 {
    z-index: 2;
    /*top: 20px;*/
}
.workdetail .desc-block .papers .paper._03 {
    z-index: 1;
    /*top: 30px;*/
}

.workdetail .desc-block .desc {
    width: 440px;
    /*border: 2px solid #bcbbbb;*/
    margin-left: 60px;
}

.workdetail.video .desc-block .desc {
    width: 100%;
    margin-left: 0;
}

.workdetail .desc-block .desc > .category {
    border-top: 2px solid #bcbbbb;
}

.workdetail .desc-block .desc .row {
    border-bottom: 1px solid #d3d3d3;
    padding: 15px 0;
}

.workdetail.video .desc-block .desc .row {
    position: relative;
    border-top: 2px solid #bcbbbb;
}

.workdetail.video .desc-block .desc .row > .category {
    width: 50%;
    float: left;
}

.workdetail.video .desc-block .desc .row > .category:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 16px;
    width: 1px;
    height: 16px;
    background: #d3d3d3;
}

.workdetail.video .desc-block .desc .row > .client {
    width: 50%;
    float: left;
    padding-left: 39px;
}

.workdetail.video .desc-block .desc .capture-block {
    padding-top: 30px;
    padding-bottom: 30px;
}

.workdetail.video .desc-block .desc .capture-block img {
    width: 100%;
}

.workdetail .desc-block .desc .row .guide {
    font-weight: bold;
    font-family: Arial;
    color: #434343;
    font-size: 14px;
}

.workdetail .desc-block .desc .row .input {
    color: #686868;
    font-size: 14px;
}

.workdetail .desc-block .desc .block {
    padding-top: 20px;
}

.workdetail .desc-block .desc .block .title {
    padding-bottom: 5px;
}

.workdetail .desc-block .desc .block .title span {
    display: inline-block;
    background: #252525;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    padding: 2px;
}

.workdetail .desc-block .desc .block .sub {
    padding-left: 2px;
}

.workdetail .desc-block .desc .block .sub p {
    color: #686868;
    font-size: 14px;
    /*line-height: 22px;*/
    line-height: 1.7;
}

.workdetail .spread-block {
    background: #252525;
    height: 380px;
    position: relative;
}

.workdetail .spread-block .layout {
    position: absolute;
    top: -150px;
    left: 0;
    right: 0;
    bottom: 0;
}

.workdetail.descAndTablet .spread-block .layout {
    top: -120px;
}

.workdetail .spread-block .spread-pages {
    text-align: center;
}

.workdetail .spread-block .spread-pages img {
    /*margin-left: -18px;*/
    vertical-align: middle;
    z-index: 1;
    position: relative;
}

/*.workdetail .spread-block .spread-pages img:first-child {
    margin-left: 0;
    z-index: 2 !important;
}

.workdetail.descAndPhone .spread-block .spread-pages img:nth-child(2) {
    margin-left: -50px;
}

.workdetail.descAndTablet .spread-block .spread-pages img {
    margin-left: 0;
}

.workdetail.descAndTablet .spread-block .spread-pages img:nth-child(2) {
    margin-left: -33px;
}*/

.workdetail .spread-block .list-all {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: center;
}

.workdetail .spread-block .list-all span {
    display: inline-block;
    color: #77fde5;
    font-size: 15px;
    font-weight: bold;
}

.workdetail .spread-block .list-all span:before {
    content: "\f009";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #77fde5;
    font-size: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

.workdetail .spread-block .list-all span:after {
    content: "\f101";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #ffffff;
    font-size: 14px;
    -webkit-animation-name: arrowMotionRight;
            animation-name: arrowMotionRight;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    vertical-align: middle;
    margin-left: 4px;
}


/* workdetail */



/* news */

.content-outer > .content-inner.news {
    width: 100%;
    height: 100%;
    /*padding-bottom: 150px;*/
    overflow-y: auto;
}

.content-outer > .content-inner.news .wrap-news {
    width: 960px;
    margin: 0 auto;
    padding: 128px 0 154px;
}

.content-outer > .content-inner.news .wrap-news > .title {
    padding-bottom: 20px;
}

.content-outer > .content-inner.news .wrap-news .list {
    border-top: 2px solid #4e4e4e;
    border-bottom: 2px solid #4e4e4e;
}

.content-outer > .content-inner.news .wrap-news .list .row {
    border-top: 1px solid #d7d7d7;
    /*border-bottom: 1px solid #d7d7d7;*/
    padding: 20px 0;
}

.content-outer > .content-inner.news .wrap-news .list .row:first-child {
    border-top: 0;
}

.content-outer > .content-inner.news .wrap-news .list .row {
    border-top: 1px solid #d7d7d7;
}

.content-outer > .content-inner.news .wrap-news .list .row:last-child {
    /*border-bottom: 2px solid #4e4e4e;*/
}

.content-outer > .content-inner.news .wrap-news .list .row > div {
    float: left;
}

.content-outer > .content-inner.news .wrap-news .list .row .thumbnail {
    width: 326px;
    margin-right: 35px;
}

.content-outer > .content-inner.news .wrap-news .list .row .thumbnail > img {
    width: 100%;
}

.content-outer > .content-inner.news .wrap-news .list .row .desc {
    /*width: 420px; 시안 */
    /*width: 599px; 최대 */
    width: 500px;
}

.content-outer > .content-inner.news .wrap-news .list .row .desc p {
    font-size: 14px;
    color: #333333;
    line-height: 20px;
}

.content-outer > .content-inner.news .wrap-news .list .row .desc .title {
    padding-bottom: 28px;
}

.content-outer > .content-inner.news .wrap-news .list .row .desc .title p {
    font-size: 17px;
}

.content-outer > .content-inner.news .wrap-news .list .row .desc .sub {
    padding-bottom: 32px;
}

.content-outer > .content-inner.news .wrap-news .list .row .desc .category span {
    color: #707070;
    font-size: 13px;
    text-transform: uppercase;
}

.content-outer > .content-inner.news .wrap-news.detail .title-block {
    border-top: 2px solid #4e4e4e;
    border-bottom: 1px solid #4e4e4e;
}

.content-outer > .content-inner.news .wrap-news.detail .title-block > div {
    display: inline-block;
    padding-left: 20px;
    color: #333333;
    padding: 20px 20px;
    font-size: 15px;
}

.content-outer > .content-inner.news .wrap-news.detail .title-block > .category {
    float: right;
    color: #707070;
    text-transform: uppercase;
    font-size: 13px;
}

.content-outer > .content-inner.news .wrap-news.detail .main-cnt > .inner {
    padding: 30px 10px;
    font-size: 14px;
    color: #666666;
    line-height: 20px;
}

.content-outer > .content-inner.news .wrap-news.detail .list-all {
    width: 100%;
    height: 48px;
    background: #252525;
    text-align: center;
}

.content-outer > .content-inner.news .wrap-news.detail .list-all span {
    display: inline-block;
    color: #77fde5;
    font-size: 15px;
    font-weight: bold;
    line-height: 48px;
    vertical-align: middle;
}

.content-outer > .content-inner.news .wrap-news.detail .list-all span:before {
content: "\f009";
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
text-decoration: inherit;
color: #77fde5;
font-size: 16px;
vertical-align: middle;
margin-right: 5px;
}

.content-outer > .content-inner.news .wrap-news.detail .list-all span:after {
content: "\f101";
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
text-decoration: inherit;
color: #ffffff;
font-size: 14px;
/*animation-name: arrowMotionRight;
animation-duration: 1s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-fill-mode: both;
vertical-align: middle;*/
margin-left: 6px;
}

/* news */

.animate {
    /*visibility: hidden;*/
    opacity: 0;
}
/*.fadeInUp {
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}*/

/* module */
/*clearfix*/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999999;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999999;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999999;
}

/* module */
