@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);


* {
    box-sizing:border-box;
}

html, body {
  width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Nanum Gothic', sans-serif, Arial;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h2, p {
    margin: 0;
    padding: 0;
}

input[type="text"] {
    background: none;
    border: none;
    box-sizing: border-box;
    border-radius:0;
    outline:0;
    margin:0;
    padding:0;
    text-align: left;
    vertical-align: middle;
}


#miniver {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 41px;
}

#miniver_gate {
    width: 100%;
    height: 100%;
    position: relative;
}

.background-gate {
  width: 100%;
  height: 100%;
  background: #000000;
}

.background-gate .wrap-gate {
  height: 100%;
  display: table;
}

.background-gate .wrap-gate .gate {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.background-gate .wrap-gate .gate .anim-elems {
  width: 100%;
  position: relative;
}

.background-gate .wrap-gate .gate .anim-elems img {
  width: 100%;
  max-width: 100%;
}

.background-gate .wrap-gate .gate .anim-elems .title {
  text-align: center;
  position: absolute;
  width: 23%;
  height: auto;
  top: 42.5%;
  left: 38.5%;
  visibility: hidden;
}

.background-gate .wrap-gate .gate .anim-elems .rotate {
  width: 100%;
  visibility: hidden;
}

.background-gate .wrap-gate .loading-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
    height: 2px;
    width: 100%;
    visibility: hidden;
}

.background-gate .wrap-gate .loading-bar > .fill {
    background-color: #ffffff;
    width: 0;
    height: 2px;
}

/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 41px;
  z-index: 100;
  /*display: none;*/
}

.header-outer {
  background: #2c2d2d;
  height: 100%;
}

.header-outer .header-inner {
  /*padding: 3.6% 0;*/
  padding: 14px 0;
  width: 93.7%;
  margin: 0 auto;
}

.header-outer .header-inner .logo {
  display: block;
  background: url(../images/minivertising_logo.png) no-repeat;
  background-size: cover;
  width: 101px;
  height: 14px;
  float: left;
}

.header-outer .header-inner .nav {
  float: right;
  width: 30px;
  margin-right: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.header-outer .header-inner .nav .wrap-btn {
  width: 18px;
  margin-left: 12px;
  position: relative;
}

.nav .wrap-btn .nav-line {
  background: #fafffb;
  -webkit-transition:width .25s ease-in-out, height .25s ease-in-out;
  transition: width .25s ease-in-out, height .25s ease-in-out;
}

.nav .hamburger .nav-line {
    width: 18px;
    height: 2px;
    margin-bottom: 4px;
}

.nav .hamburger .nav-line:nth-child(1) {
    -webkit-transition-delay:.5s;
            transition-delay:.5s;
}

.nav .hamburger .nav-line:nth-child(2) {
    -webkit-transition-delay:.625s;
            transition-delay:.625s;
}

.nav .hamburger .nav-line:nth-child(3) {
    -webkit-transition-delay:.75s;
            transition-delay:.75s;
    margin-bottom: 0;
}

.menuOpen .nav .hamburger .nav-line {
    width: 0%;
}

.menuOpen .nav .hamburger .nav-line:nth-child(1) {-webkit-transition-delay:0s;transition-delay:0s;}
.menuOpen .nav .hamburger .nav-line:nth-child(2) {-webkit-transition-delay:.125s;transition-delay:.125s;}
.menuOpen .nav .hamburger .nav-line:nth-child(3) {-webkit-transition-delay:.25s;transition-delay:.25s;}

.nav .cross {
    position: absolute;
    width: 100%;
    height: 100%;
    /*-webkit-transform: rotate(45deg);*/
            /*transform: rotate(45deg);*/
    top: 0;
    left: 0;
}

.nav .cross .nav-line:nth-child(1){
    position: absolute;
    width: 0%;
    height: 2px;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: rotate(43deg);
            transform: rotate(43deg);
    top: 0px;
    left: 11.5%;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
}

.nav .cross .nav-line:nth-child(2){
    position: absolute;
    width: 0%;
    height: 2px;
    -webkit-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: rotate(-43deg);
            transform: rotate(-43deg);
    right: 11.5%;
    top: 0px;
    -webkit-transition-delay: .25s;
            transition-delay: .25s;
}

.menuOpen .nav .cross .nav-line:nth-child(1) {
    width: 110%;
    -webkit-transition-delay: .625s;
            transition-delay: .625s;
}

.menuOpen .nav .cross .nav-line:nth-child(2) {
    width: 110%;
    -webkit-transition-delay: .375s;
            transition-delay: .375s;
}


/* header */

/* menu layer */

.menu-layer {
  position: absolute;
  /*top: 41px;*/
  left: 0;
  right: 0;
  height: 0;
  background: #252525;
  /*background: rgba(37,37,37,.9);*/
  -webkit-transition:all 1s ease-in-out;
  transition: all 1s ease-in-out;
  z-index: -1;
}

.menu-layer > .inner {
  width: 100%;
  height: 100%;
}
.menu-layer .menu-list {
  /*padding-top: 35px;*/
  padding-top: 11%;
}

.menu-layer .menu-list a {
  display: block;
  position: relative;
  margin:0 auto;
  margin-bottom: 20px;
  visibility: hidden;
}

.menu-layer .menu-list a img {
  width: 100%;
}

.menu-layer .menu-list .about {width: 13.1%;}
.menu-layer .menu-list .work {width: 12%;}
.menu-layer .menu-list .news {width: 11.4%;}
.menu-layer .menu-list .contactUs {width: 23.4%;}

.menu-layer .menu-list a:after {
  content: "";
  background: #6bf1d9;
  width: 0%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
}

.menu-layer .menu-list .current:after {
  width: 100%;
}

.menuOpen .menu-layer {
  height: 100%;
  z-index:999;
}

.menuOpen .menu-layer > .inner {
}


/* menu layer */

/* content */

.content-outer {
  position: relative;
  /*top: 41px;*/
  /*left: 0;*/
  /*right: 0;*/
  height: 100%;
  width: 100%;
  /*overflow-y: auto;*/
  z-index: 1;
  overflow: hidden;
  /*opacity: 0;*/
}

.content-outer .content-inner {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch
}

.content-outer .content-inner .block-work-cate {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  height: 88px;
  z-index: 99;
}

.content-outer .content-inner .block-work-cate .cate-outer {
  width: 100%;
  background: #252525;
}

.content-outer .content-inner .block-work-cate .cate-outer .cate-inner {
  width: 93.7%;
  height: 100%;
  padding: 3% 0;
  margin: 0 auto;
}

.content-outer .content-inner .block-work-cate .cate-outer .cate-inner .layout {
  border: 1px solid #6bf1d9;
  height: 100%;
  position: relative;
}

.block-work-cate .cate-inner .layout .line {
  position: absolute;
  width: 10px;
  height: 1px;
  background: #6bf1d9;
  -webkit-transition:width 1s linear;
  transition: width 1s linear;
  -webkit-transition-delay: 1s; /* Safari */
  transition-delay: 1s;
}

.block-work-cate .cate-inner .layout .line.tl {
    top: 0;
    left: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
}

.block-work-cate .cate-inner .layout .line.tr {
    top: 0;
    right: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: top right;
            transform-origin: top right;
}

.block-work-cate .cate-inner .layout .line.br {
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
}

.block-work-cate .cate-inner .layout .line.bl {
    bottom: 0;
    left: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
}

.block-work-cate .cate-inner .block-title {
  width: 26%;
  height: 100%;
  float: left;
  position: relative;
}

.block-work-cate .cate-inner .block-title:after {
  content: "";
  position: absolute;
  top: 15%;
  right: 0;
  background: #d6d6d6;
  width: 1px;
  height: 70%;
}

.block-work-cate .cate-inner .block-title img {
  width: 61%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.block-work-cate .cate-inner .block-catelist {
  float: left;
  width: 74%;
  height: 100%;
  display: table;
}

.block-work-cate .cate-inner .block-catelist > .inner {
  width: 86%;
  display: table-cell;
  vertical-align: middle;
  padding: 0 7%;
}

.block-work-cate .cate-inner .block-catelist .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-work-cate .cate-inner .block-catelist .row:first-child {
  padding-bottom: 4%;
}

.block-work-cate .cate-inner .block-catelist a {
  display: inline-block;
  /*float: left;*/
  color: #ffffff;
  font-family: Arial;
  font-size: 11px;
}

@media all and (max-width: 360px) {
  .block-work-cate .cate-inner .block-catelist > .inner {
    padding: 0 5%;
  }
  .block-work-cate .cate-inner .block-catelist a {
    font-size: 10px;
  }
}

.block-work-cate .cate-inner .block-catelist .active {
  color: #6bf1d9;
}

.block-work-list {
  margin-top: 88px;
  width: 100%;
  background: #252525;
}

.block-work-list .work-block {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #414141;
}

.block-work-list .work-block.in-view {
  background: #101e46;
}

.block-work-list .work-block .circle-thumb {
  width: 53%;
  margin: 0 auto;
  padding: 11% 0 9.1%;
  position: relative;
}

.block-work-list .work-block .circle-thumb .thumbnail {
  position: relative;
}

.block-work-list .work-block .circle-thumb .thumbnail img {
  width: 100%;
  position: relative;
  z-index: 2;
}

.block-work-list .work-block .circle-thumb .thumbnail:before,
.block-work-list .work-block .circle-thumb .thumbnail:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: #6bf1d9;
  width: 0;
  height: 1px;
  z-index: 1;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition:width 0.5s ease;
  transition: width 0.5s ease;
}

.block-work-list .in-view .circle-thumb .thumbnail:before,
.block-work-list .in-view .circle-thumb .thumbnail:after {
  width: 65%;
}

.block-work-list .work-block .circle-thumb .thumbnail:before {-webkit-transform: rotate(135deg);transform: rotate(135deg);}
.block-work-list .work-block .circle-thumb .thumbnail:after {-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}

.block-work-list .work-block .circle-thumb .wrap-category {
  position: absolute;
  top: 0;
  right: -24%;
}

.block-work-list .work-block .circle-thumb .wrap-category .push-line {
  width: 1px;
  height: 39px;
  background: #8e8e8e;
}

.block-work-list .work-block .circle-thumb .wrap-category .cate-name {
  position: absolute;
  bottom: -7px;
  left: -5px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.block-work-list .work-block .circle-thumb .wrap-category .cate-name span {
  font-family: Arial;
  color: #959595;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
}

.block-work-list .work-block .desc-zone {
    width: 53%;
    margin: 0 auto;
    position: relative;
}

.block-work-list .work-block .desc-zone .project {
  padding-bottom: 10.6%;
}

.block-work-list .work-block .desc-zone .client {
  padding-bottom: 14.75%;
}

.block-work-list .work-block .desc-zone .guide {
  padding-bottom: 1.5%;
}

.block-work-list .work-block .desc-zone .guide span {
  font-size: 10px;
  font-family: Arial;
  font-weight: bold;
  color: #a19d9d;
  text-transform: uppercase;
}

.block-work-list .work-block .desc-zone .name span {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
}

.block-work-list .work-block .desc-zone .wrap-product-number {
  position: absolute;
  bottom: 0;
  left: -15%;
  width: 1px;
  height: 100%;
}

.block-work-list .work-block .desc-zone .wrap-product-number .push-line {
  width: 1px;
  height: 100%;
  background: #8e8e8e;
  position: absolute;
  bottom: 0;
  -webkit-transition:height .5s linear, background .5s linear;
  transition: height .5s linear, background .5s linear;
}

.block-work-list .work-block .desc-zone .wrap-product-number:after {
  content: attr(data-no);
  color: #a19d9d;
  font-size: 10px;
  position: absolute;
  top: 0;
  left: -4px;
  opacity: 0;
  -webkit-transition:opacity .3s linear .2s;
  transition: opacity .3s linear .2s;
}

.block-work-list .in-view .desc-zone .wrap-product-number .push-line {
  height: 83%;
  background: #6bf1d9;
}

.block-work-list .in-view .desc-zone .wrap-product-number:after {
  opacity: 1;
}

/* work detail */

.device-block {
  position: relative;
}

.device-block > .inner {
  background: #252525;
  text-align: center;
}

.device-block .layout {
  margin-bottom: 2.9%;
  height: 26px;
}

.device-block .layout .push-line {
  background: #ffffff;
  width: 1px;
  height: 0;
  margin: 0 auto;
  transition: all .5s linear .3s;
  opacity: 0;
}

.work_detail .device-block .layout .push-line {
  height: 26px;
  opacity: 1;
}

.device-block > .inner .wrap-text {
  opacity: 0;
  transition: opacity 1s ease .5s;
}

.work_detail .device-block > .inner .wrap-text {
  opacity: 1;
}

.device-block > .inner .brand {
  padding-bottom: 1.5%;
}

.device-block > .inner .brand span {
  color: #ffffff;
  font-size: 12px;
}

.device-block > .inner .title h3 {
  margin: 0;
  color: #ffffff;
  font-size: 17px;
}

.device-block > .inner .mock-up {
  width: 100%;
  text-align: center;
}

.device-block > .inner .mock-up img {
  width: 100%;
  display: block;
  position: relative;
  top: 25px;
}

.desc-block {
  padding: 11.25% 0 23%;
  width: 93.75%;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 1s linear 1s;
}

.work_detail .desc-block {
  opacity: 1;
}

.desc-block .row-block {
  border-top: 2px solid #bcbbbb;
}

.desc-block .row-block .row {
  border-bottom: 1px solid #d3d3d3;
  padding: 2.8% 0;
}

.desc-block .row-block .row span {
  display: inline-block;
}

.desc-block .row-block .row .guide {
  font-weight: bold;
  font-family: Arial;
  font-size: 12px;
  color: #434343;
}

.desc-block .row-block .row .adInput {
  color: #686868;
  font-size: 12px;
}

.desc-block .box-block {
  padding: 3.3% 0 11%;
}

.desc-block .box-block .box:first-child {
  margin-bottom: 4%;
}

.desc-block .box-block .box .title {
  padding-bottom: 1%;
}

.desc-block .box-block .box .title span {
  display: inline-block;
  color: #ffffff;
  background: #252525;
  font-size: 12px;
  text-transform: uppercase;
  padding: 1px;
}

.desc-block .box-block .box .flow-text p {
  color: #686868;
  font-size: 12px;
  line-height: 1.5;
}

.desc-block .papers {
  position: relative;
  top: -30px;
  min-height: 200px; /* 임시 추가 */
}

.desc-block .papers .paper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  text-align: center;
}

.desc-block .papers ._01 {z-index: 3;}
.desc-block .papers ._02 {z-index: 2;}
.desc-block .papers ._03 {z-index: 1;}

.desc-block .papers .paper img {
  width: 100%;
}

.spread-block {
  background: #252525;
  position: relative;
  width: 100%;
}

.spread-block .spread-pages {
  text-align: center;
  position: relative;
  top: -70px;
  visibility: hidden;
  width: 100%;
}

.spread-block .spread-pages img {
  width: 100%;
}

.spread-block .list-all {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 17%;
}

.spread-block .list-all span {
  display: inline-block;
  color: #6bf1d9;
  font-size: 13px;
  font-weight: bold;
  vertical-align: middle;
}

.spread-block .list-all span:before,
.spread-block .list-all span:after {
    display: inline-block;
    vertical-align: middle;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.spread-block .list-all span:before {
  content: "\f009";
  color: #77fde5;
  margin-right: 5px;
}

.spread-block .list-all span:after {
  content: "\f101";
  color: #ffffff;
  margin-left: 6px;
}

/* work detail */

/* content */


/* screen reader only */
.sr-only {
  position: absolute;
  margin: -1px 0 0 -1px;
  padding: 0;
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  outline: 0;
}
/* screen reader only */

/*clearfix*/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999999;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999999;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999999;
}
